<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated parcours -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.lpdql.parcours.presentation.ParcoursModelWizardID"
            name="%_UI_ParcoursModelWizard_label"
            class="org.lpdql.parcours.presentation.ParcoursModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ParcoursModelFile.gif">
         <description>%_UI_ParcoursModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated parcours -->
      <editor
            id="org.lpdql.parcours.presentation.ParcoursEditorID"
            name="%_UI_ParcoursEditor_label"
            icon="icons/full/obj16/ParcoursModelFile.gif"
            extensions="parcours"
            class="org.lpdql.parcours.presentation.ParcoursEditor"
            contributorClass="org.lpdql.parcours.presentation.ParcoursActionBarContributor">
      </editor>
   </extension>

</plugin>
